@model Book

@{
    ViewData["Title"] = "Book Card";
}

<div class="container" id="bookinfo">
    <div class="row">
        <div class="col-md-12">
            <h3 class="grey-text" id="title">@Model.Title</h3>
            <div class="col-md-6 offset-md-3">
                <img src="@Url.Content($"~/{Model.Img}")" class="responsive-img" id="miniatureImg">
            </div>
            <table>
                <tr>
                    <td class="flow-text grey-text" id="author">Autor: @Model.Author</td>
                    <td class="flow-text grey-text" id="year">Data wydania: @Model.Year</td>
                </tr>
                <tr>
                    <td class="flow-text grey-text" id="publisher">Wydawnictwo: @Model.Publisher</td>
                    <td class="flow-text grey-text" id="pages">Liczba stron: @Model.Pages</td>
                </tr>
                <tr>
                    <td class="flow-text grey-text" id="category">Kategoria: @Model.Category</td>
                    <td class="flow-text grey-text" id="price">Cena: @Model.Price</td>
                </tr>
            </table>

            <!-- Dodaj warunek sprawdzający, czy zalogowany użytkownik ma określony nick -->
            @if (User.Identity.Name == "admin@czytelno.com")
            {
                <a href="@Url.Action("Edit", "Book", new { id = Model.Id })" class="btn btn-primary">Edytuj</a>
            }
        </div>
        <form asp-controller="Book" asp-action="DodajDoKoszyka" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-primary">Dodaj do koszyka</button>
        </form>
    </div>
    <div class="row description">
        <div class="col-md-12">
            <h3 class="grey-text">Opis książki:</h3>
            <p class="flow-text grey-text" id="description">@Model.Description</p>
        </div>
    </div>
</div>
