<nav class="topnav" id="myTopnav">
    <ul>
        <li class="btnn">
            <a href="javascript:void(0);" onclick="myFunction2()">Kategorie<i class="icon-down-open iconn"></i></a>
            <ul id="btn-content">
                <li><a href="@Url.Action("CategoryCard", "Home", new { categoryName = "Science Fiction" })">Science Fiction</a></li>
                <li><a href="@Url.Action("CategoryCard", "Home", new { categoryName = "Fantasy" })">Fantasy</a></li>
                <li><a href="@Url.Action("CategoryCard", "Home", new { categoryName = "Kryminał" })">Kryminał</a></li>
                <li><a href="@Url.Action("CategoryCard", "Home", new { categoryName = "Romans" })">Romans</a></li>
                <li><a href="@Url.Action("CategoryCard", "Home", new { categoryName = "Dla dzieci" })">Dla dzieci</a></li>
                <li><a href="@Url.Action("CategoryCard", "Home", new { categoryName = "Nauka" })">Nauka</a></li>
                <li><a href="@Url.Action("CategoryCard", "Home", new { categoryName = "Przygodowe" })">Przygodowe</a></li>
                <li><a href="@Url.Action("CategoryCard", "Home", new { categoryName = "Thriller" })">Thriller</a></li>
                <li><a href="@Url.Action("CategoryCard", "Home", new { categoryName = "Horror" })">Horror</a></li>
                <li><a href="@Url.Action("CategoryCard", "Home", new { categoryName = "Biografia" })">Biografia</a></li>
            </ul>
        </li>
        <li><a href="@Url.Action("Index", "Home")">Nowości</a></li>
        <li><a href="@Url.Action("OrderStatus", "Home")">Zamówienie</a></li>
        @if (!User.Identity.IsAuthenticated)
        {
            <li class="log-btn"><a href="@Url.Action("LogIn", "Account")">zaloguj się</a></li>
        }
        else
        {
            <li class="log-btn"><a href="@Url.Action("UserProfile", "Account")">@User.Identity.Name</a></li>
        }
    </ul>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="icon-menu"></i>
    </a>
</nav>
